:root {
    --full-white: #fff;
    --white: #f5f5f5;
    --main-color: #985D00;
    --black: #111111;
    --header-height: 64px;
    --footer-height: 64px;
}

main {
    background: var(--main-color);
}

#contactTitle {
    display: block;
    color: var(--white);
    text-align: center;
}

.contactFormBlock {
    display: block;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    width: 100%;
}

#contactForm {
    margin-left: auto;
    margin-right: auto;
    background: rgba(240,240,240,0.6);
    border-radius: 10px;
}