:root {
    --full-white: #fff;
    --white: #f5f5f5;
    --main-color: #985D00;
    --black: #111111;
    --header-height: 64px;
    --footer-height: 64px;
}

main {
    /* background: var(--white); */
    min-height: 1000px;
}

#contactTitle {
    display: block;
    color: var(--white);
    text-align: center;
}

.contactFormBlock {
    display: block;
    text-align: center;
    margin: 50px 0;
    /* position: absolute; */
    width: 100%;
}

#contactForm {
    margin-left: auto;
    margin-right: auto;
    background: rgba(100,100,100,0.6);
    border-radius: 10px;
    max-width: 100%;
}

.goToLinksButton {
    position: relative;
    height: 60px;
    display: block;
    width: fit-content;
    padding: 0 50px;
    background: linear-gradient(to right, rgb(168, 5, 168), rgb(206, 141, 152));
    border-radius: 30px;
    line-height: 60px;
    margin: auto;
    top: 30px;
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    /* border: var(--white) 1px solid; */
    box-shadow: rgb(200 200 200 / 40%) 5px 5px 5px;
    overflow: hidden;
}

.goToLinksButton span {
    position: relative;
}

.goToLinksButton::before {
    background: linear-gradient(to left, rgb(168, 5, 168), rgb(206, 141, 152));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s linear;
    width: 100%;
    border-radius: 30px;
}

.goToLinksButton:hover::before {
    opacity: 0;
}



/* .sns {
    margin-top: 30px;
}

.sns h2 {
    text-align: center;
    font-size: 64px;
    color: var(--main-color);
}

.sns a {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    background: var(--white);
    border-radius: 5px;
    text-align: center;
    display: flex;
}

.sns a:hover {
    scale: 1.1;
    transform: translateY(-10px);
    background: var(--full-white);
}

.sns a img {
    width: 80%;
    height: 80%;
    margin: auto;
}  */

