:root {
    --full-white: #fff;
    --white: #f5f5f5;
    --main-color: #985D00;
    --dark: #783D00;
    --black: #111111;
    --header-height: 64px;
    --footer-height: 64px;
    --select-color: #68e;
}


#cardMainFirst {
    text-align: center;
    margin: 80px;

}

#cardMainFirst h1 {
    font-family: 'Noto Sans JP', sans-serif;
}

main {
    color: var(--white);
    /* background-color: var(--main-color); */
}

#selectShow {
    margin: 20px;
}

#selectShow ul {
    display: flex;
    justify-content: space-around;
}

#cardSection {
    margin: auto;
}

#selectShow ul li {
    display: block;
    width: 30%;
    max-width: 200px;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    border: 3px solid var(--select-color);
}

#selectShow ul li.is_active {
    color: var(--white);
    background: var(--select-color);
}

.cardsShow {
    display: none;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardsShow li {
    display: block;
    width: 300px;
    height: auto;
    margin: 5px;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
}

.cardsShow li:hover {
    transform: scale(1.5);
    z-index: 10;
}

.cardsShow li img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.is_show {
    display: flex;
}

/*キラッと光る*/
.cardsShow li::after {
    content: '';
    /*絶対配置でキラッと光るの位置を決める*/
    position: absolute;
    top: 0;
    left: -75%;
    /*キラッと光る形状*/
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    animation: shine 3.0s infinite;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}




@media screen and (max-width:700px) {
    #cardMainFirst h2 {
        font-size: 64px;
    }

    .cardsShow li {
        max-width: calc(50vw - 60px);
    }
}