:root {
    --full-white: #fff;
    --white: #f5f5f5;
    --main-color: #985D00;
    --dark: #783D00;
    --black: #111111;
    --header-height: 64px;
    --footer-height: 64px;
    --select-color: #68e;
}

#cardExpansion {
    display: flex;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    position: fixed;
    justify-content: center;
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}

#cardExpansion.is_visible {
    opacity: 1;
    pointer-events: inherit;
}

#cardExpansion * {
    pointer-events: none;
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
}


#cardMainFirst {
    text-align: center;
    margin: 80px;

}

#cardMainFirst h1 {
    font-family: 'Noto Sans JP', sans-serif;
}

main {
    color: var(--white);
    /* background-color: var(--main-color); */
}

#selectShow {
    margin: 20px;
}

#selectShow ul {
    display: flex;
    justify-content: space-around;
}

#cardSection {
    margin: auto;
}

#selectShow ul li {
    display: block;
    width: 30%;
    max-width: 200px;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    border: 3px solid var(--select-color);
}

#selectShow ul li.is_active {
    color: var(--white);
    background: var(--select-color);
}

.cardsShow {
    display: none;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* @keyframes cardMove {
    0% {
        transform: translate3d(0,0,0) rotate3d(1, -1, 0, 0deg) scale(1);
    }
    30% {
        transform: translate3d(0,0,0) rotate3d(1, -1, 0, 0deg) scale(1.5);
    }
    40% {
        transform: translate3d(0,0,10px) rotate3d(1,-1, 0, 0deg) scale(1.5);
    }
    70% {
        transform: translate3d(0,0,10px) rotate3d(1,-1, 0, 0deg) scale(1.5);
    }
    100% {
        transform: translate3d(0,0,0) rotate3d(1, -1, 0, 0deg) scale(1.5);
    }
} */
@keyframes cardMove {
    0% {
        transform: rotateX(10deg) rotateY(0) rotateZ(0) translateZ(200px) scale(1);
    }
    20% {
        transform: rotateX(10deg) rotateY(-16deg) rotateZ(4deg) translateX(-20px) translateZ(0) scale(1.5);
    }
    100% {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(0) translateX(0) scale(1.5);
    }
}

.cardsShow li {
    display: block;
    width: 300px;
    height: auto;
    margin: 5px;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}


.cardsShow li:hover {
    transform: scale(1.5);
    z-index: 10;
    animation: cardMove 0.8s ease-out;
    perspective: 1000px;
}

.cardsShow li img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.is_show {
    display: flex;
}

/*キラッと光る*/
.cardsShow li::after {
    content: '';
    /*絶対配置でキラッと光るの位置を決める*/
    position: absolute;
    top: 0;
    left: -75%;
    /*キラッと光る形状*/
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    animation: shine 3.0s infinite;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}




@media screen and (max-width:700px) {
    #cardMainFirst h2 {
        font-size: 64px;
    }

    #selectShow ul {
        flex-wrap: wrap;
    }

    #selectShow ul li {
        max-width: 350px;
        width: 40%;
        margin: 10px 0;
    }

    .cardsShow li {
        max-width: calc(50vw - 60px);
    }
}