:root {
    --full-white: #fff;
    --white: #f5f5f5;
    --main-color: #985D00;
    --dark: #783D00;
    --black: #111111;
    --header-height: 64px;
    --footer-height: 64px;
}


#cardMainFirst {
    text-align: center;
}

#cardMainFirst h2 {
    font-size: 128px;
}

main {
    color: var(--white);
    /* background-color: var(--main-color); */
}

/* #cardCanvas {
    margin: auto;
    display: block;
}

.rules {
    background: var(--white);
}

.ruleFirstBlock {
    text-align: center;
    margin: 30px 0;
    padding: 30px;
    padding-bottom: 50px;
    background: var(--main-color);
}

.ruleSteps {
    background: var(--white);
    overflow: hidden;
}

.ruleStep {
    width: 60%;
    background: var(--main-color);
    padding: 30px;
    margin: 5px 0;
}

.ruleStep h2 {
    display: block;
    background: var(--dark);
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
    position: relative;
    height: 70px;
    line-height: 70px;
}

.ruleStep p {
    display: block;
}

.rightWord {
    margin-right: 0;
    margin-left: auto;
}

.leftWord h2 {
    transform: translateX(-30px);
    padding-left: 20px;
}

.leftWord h2::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: var(--main-color) var(--main-color) transparent transparent;
    border-width: 0px 80px 100px 0;  
    right: 0;
}

.rightWord h2 {
    margin-right: 0;
    margin-left: auto;
    transform: translateX(30px);
    text-align: end;
    padding-right: 20px;
}

.rightWord h2::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: var(--main-color) transparent transparent var(--main-color);
    border-width: 100px 80px 100px 0px; 
    left: 0;
} */



@media screen and (max-width:700px) {
    #cardMainFirst h2 {
        font-size: 64px;
    }
}