#purchaseMainFirst {
    text-align: center;
}

#purchaseMainFirst h2 {
    font-size: 128px;
}

main {
    color: var(--white);
}


@media screen and (max-width: 700px){
    #purchaseMainFirst h2 {
        font-size: 64px;
    }
    #purchaseMainFirst h1 {
        font-size: 48px;
    }
}
