:root {
    --full-white: #fff;
    --white: #f5f5f5;
    --main-color: #985D00;
    --black: #111111;
    --header-height: 64px;
    --footer-height: 64px;
}


#cardMainFirst {
    text-align: center;
}

main {
    color: var(--white);
    background-color: var(--main-color);
}