* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --full-white: #fff;
    --white: #f5f5f5;
    --main-color: #985D00;
    --black: #111111;
    --header-height: 64px;
    --footer-height: 64px;
}

body {
    /* height: 1000px; */
    background: var(--white);
    color: var(--black);
}

li {
    list-style-type: none;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 16px;
}



/* ここから Header */
header {
    height: var(--header-height);
    width: 100%;
    background: var(--full-white);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    box-shadow: 0px 2px 24px 2px rgba(1, 1, 1, 0.3);
}

header nav {
    display: flex;
}

#logoBlock {
    margin-left: 10px;
}

#headerLogo {
    height: var(--header-height);
    display: block;
}

header nav ul {
    display: flex;
    /* justify-content: space-between; */
    width: 80%;
    margin-left: 10%;
}

header nav ul li {
    width: 25%;
    text-align: center;
    line-height: var(--header-height);
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--black);
}

header nav ul li a:hover {
    cursor: pointer;
    scale: 1.1;
    color: var(--main-color);
}



/* ここから main */
main {
    margin-top: var(--header-height);
    min-height: 2000px;
    width: 100%;
    color: var(--black);
}


#mainFirst {
    position: relative;
    text-align: center;
}

#topImage {
    width: 100%;
    height: 400px;
    display: block;
}

.topWords {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

.mainButton {
    display: block;
    text-decoration: none;
    color: var(--white);
    width: 80%;
    margin-left: 10%;
    background: #e90;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    font-size: 20px;
}

.mainButton:hover {
    background: #fb2;
    cursor: pointer;
}


.topVideoBlock {
    text-align: center;
    margin: 30px 0;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.topVideoBlock iframe {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
    height: 80%;
}

.storyBlock {
    text-align: center;
    margin: 30px 0;
    position: relative;
}

#storyImage {
    width: 100%;
    display: block;
    height: 1000px;
}

.storyBlock h2 {
    position: absolute;
    top: 30px;
    left: 40px;
}
.storyBlock p {
    position: absolute;
    top: 100px;
    left: 40px;
}


.whyBlock, .FAQBlock {
    background: var(--main-color);
    color: var(--white);
    padding: 30px;
    min-height: 700px;
    margin: 50px 0;
}

.whyBlock h2 {
    margin: 30px;
}

.FAQBlock h2 {
    margin: 30px;
}

.centerBuyBlock {
    width: 300px;
    text-align: center;
    margin: 50px auto;
}











.twitter-iframes {
    width: 400px;
    max-width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    border-radius: 5px;
    text-align: center;
}


.note-iframes {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
}





/* ここからfooter */
footer {
    background: var(--main-color);
    height: var(--footer-height);
    color: var(--white);
    z-index: 5;
    width: 100%;
}